@page
@using PresentationLayer.Areas.Identity.Pages.Account
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>تأكيد إعادة تعيين كلمة السر</h1>
<p>
   من فضلك افحص بريدك الألكتروني لإعادة تعيين كلمة السر
</p>
