@page
@using PresentationLayer.Areas.Identity.Pages.Account
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>إعادة تعيين كلمة السر</h1>
<p>
   تم إعادة تعيين كلمة السر بنجاح. من فضلك <a asp-page="./Login">أضغط هنا لتسجيل الدخول</a>.
</p>
