@model Country
@{
    ViewData["Title"] = "Delete Country";
}
<form method="post">
    <div class="window" style="padding:20px;">
        <p3>هل انت متأكد من أنك تريد حذف هذه البلد؟؟</p3>
        <div class="buttons" style="padding-top:10px;">
            <button type="submit" class="btn btn-primary">موافق</button>
            <a asp-controller="Countries" asp-action="Index" class="btn btn-secondary">
                العوده الي قائمة البلاد
            </a>
        </div>
    </div>
</form>